<div name="container" style="height: 85vh;">
Logged as: {{chat.username}}
<br>
Chat with: {{chat.recipient}}

<div #scroll style="height: calc(100% - 140px); margin-top: 40px; margin-right: 40px; margin-left: 40px;overflow-y: scroll;">
  <table>
          <tr *ngFor = "let message of chat.messages">
              <td>{{message}}</td>
          </tr>
  </table>
  <div #newMessagePanel></div>
</div>

<div style="width: 95%;margin-left: auto; margin-right: auto; margin-top: 10px;">
  <div class="content" style="width: calc(100% - 75px); float: left;">
    <input class="form-control" type="text" placeholder="message" [(ngModel)]="input">
  </div>
    <div style="width: 75px; float: right;">
      <button class="btn btn-success" (click)="sendMessage()">Send</button>
    </div>
</div>
