<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Start new conversation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body style="background-color: gainsboro">
<div class="container text-center">
    <div>
        <h1>Find user</h1>
    </div>

    <div>
        <table class="table table-striped table-bordered" style="width: 50%;margin-left: auto; margin-right: auto;">
            <thead class="thead-dark">
            <tr>
                <th>Username</th>
                <th>Start conversation</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${users}" >
                <td th:text="${user.username}" style="width: 70%;">Username</td>
                <td style="width: 30%;"><a th:href="@{/conversation/{id}(id=${user.id})}" class="btn btn-primary" style="width: 90%;">Start conversation</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>